
body {
    color: #cc5500;
    background-color: #D3D3D3 !important;
    text-align: center;
}


.lasagna-img {
    width: 300px;
    height: auto;
}
.pasta-pesto-img { 
    width: 300px;
    height: auto;
}


/* Code for alligning lists */
div.list {
    text-align: center;
}

ul.ulist {
    display: inline-block;
    text-align: left;
}

ol.olist {
    display: inline-block;
    text-align: left;
}